<app-navbar></app-navbar>
<div class="container">
  <div class="options">
    <button class="quizButton btn bg-dark text-white font-weight-bold" type="submit" (click)="checkQuiz()">Sprawdź
      wyniki
    </button>
    <button class="quizButton btn bg-dark text-white font-weight-bold" type="submit" (click)="getDefinitionsExam()">
      Wygeneruj Quiz!
    </button>
  </div>
  <div>
    <app-sidebar></app-sidebar>
  </div>
  <div class="quiz">
    <div class="questionAndAnswer" *ngFor="let question of definitionsQuestions">
      <div class="sentence">
        {{question.sentence}}
      </div>
      <div class="answers">
        <div>
          <div *ngIf="check">{{addToAnswers(answerValue.value, question)}}</div>
          <input class="form-control" type="text" placeholder="Wprowadź definicje..." #answerValue/>
        </div>
        <div *ngIf="showAnswers == false">
          <div *ngIf="question.prompt == true">
            <div class="plAnswer alert light-alert">Po polsku: {{question.answer.plWord}}</div>
          </div>
        </div>
        <div *ngIf="showAnswers">
          <div class="alert alert-success"
               *ngIf="answers[definitionsQuestions.indexOf(question)] == true">{{correct}}</div>
          <div class="alert alert-danger"
               *ngIf="answers[definitionsQuestions.indexOf(question)] == false">{{incorrect}}</div>
        </div>
        <div>
          <button class="prompt btn bg-secondary text-white font-weight-bold" (click)="getPrompt(question)">
            Podpowiedź?
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
