<div class="container text-white font-weight-bold">
  <a routerLink="/words" class="list-group-item bg-secondary"
     routerLinkActive="bg-dark text-white font-weight-bold">Moje słówka</a>
  <a routerLink="/verbs" class="list-group-item bg-secondary"
     routerLinkActive="bg-dark text-white font-weight-bold">Quiz z czasownikami</a>
  <a routerLink="/random" class="list-group-item bg-secondary"
     routerLinkActive="bg-dark text-white font-weight-bold">Quiz z losowymi słówkami</a>
  <a routerLink="/definitions" class="list-group-item bg-secondary"
     routerLinkActive="bg-dark text-white font-weight-bold">Quiz z definicjami</a>
  <a routerLink="/examples" class="list-group-item bg-secondary"
     routerLinkActive="bg-dark text-white font-weight-bold">Quiz ze zdaniami</a>
  <a routerLink="/flashcards" class="list-group-item bg-secondary"
     routerLinkActive="bg-dark text-white font-weight-bold">Fiszki</a>
</div>
