<div class="container text-white font-weight-bold">
  <a routerLink="/words" class="list-group-item bg-dark">Moje słówka</a>
  <a routerLink="/verbs" class="list-group-item bg-dark">Quiz z czasownikami</a>
  <a routerLink="/random" class="list-group-item bg-dark">Quiz z losowymi słówkami</a>
  <a routerLink="/definitions" class="list-group-item bg-dark">Quiz z definicjami</a>
  <a routerLink="/examples" class="list-group-item bg-dark">Quiz ze zdaniami</a>
  <a href="#" class="list-group-item bg-dark">Fiszki</a>
</div>
